#################################
##  Hedgehog Development Kit  ###
#################################

ExpansionPacks/
Maps/
Sonic_World_Remix/
Sonic_Evolution/
Foliage/
Geology/
SoundFX/
StarterContent/