#################################
##  Hedgehog Development Kit  ###
#################################

ExpansionPacks/
Maps/
Sonic_World_Remix/
Sonic_Evolution_Maps/
Sonic_Evolution_Materials/
Sonic_Evolution_Textures/
Sonic_Evolution_Particles/
Sonic_Evolution_Meshes/
Sonic_Evolution_Actors/
Sonic_Evolution/
Foliage/
Geology/
SoundFX/
Splash/
StarterContent/